@import "tailwindcss";

@font-face {
  font-family: "QATT-H";
  src: url("/fonts/qatt-h.ttf") format("trueType");
}

@font-face {
  font-family: "QATT-V";
  src:  url("/fonts/qatt-v.ttf") format("trueTypez`");
}
